<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254047727262-geb2mpveqth6nkmn5kddo1et7s5pk7e5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254047727262-geb2mpveqth6nkmn5kddo1et7s5pk7e5</string>
	<key>API_KEY</key>
	<string>AIzaSyBpDAh2l-Tlq7S_W9qIhB4Y3X5w_IcZmVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>254047727262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geekbrains.VKGeeKBrainsTest</string>
	<key>PROJECT_ID</key>
	<string>vkgeekbrainstest</string>
	<key>STORAGE_BUCKET</key>
	<string>vkgeekbrainstest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254047727262:ios:4ab1e03b76d8c999cad58f</string>
</dict>
</plist>